.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover,.nav-pills .nav-link.active:focus{
  background-color:#e2e2e2;
  color:rgba(0,0,0,.85) ;
  font-weight:550;

  }
  #paddingNone{
    padding:0 !important;
  }
  #sidetabs{
    background-color: #e2e2e2;
    color: black;
    border-radius: 10px;
    text-align: left;
    max-width: 100%;
  }
  #sidebarcard{
    font-size: 0.7em;
    max-width: 100%;
    background-color: #e2e2e2;
  }
  #tab{
    text-align: left;
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 25px;
  }
  #pages{
    margin-right: 5px;
  }
  .circle {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .circle svg {
    fill: none;
    stroke: #8a3ab9;
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: stroke-draw 6s ease-out infinite alternate;
  }
  .circle img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    border-radius: 50%;
  }
  @keyframes stroke-draw {
    from {
      stroke: #8a3ab9;
      stroke-dasharray: 1;
    }
    to {
      stroke: #cd486b;
      transform: rotate(180deg);
      stroke-dasharray: 8;
    }
  }
  #topbar{
    margin-left: 8px;
  }
  #search{
    margin-left: 50px;
  }
  /*Vertical Tabs*/
.mdl-tabs__panel {
  display: none;
}
.vertical-mdl-tabs {
    margin-top: 30px;
}
.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
  background: rgba(158, 158, 158, 0.34);
  color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid #ED462F;
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

.text-center {
  text-align: center;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
   color: #E21549;
}
#aligned{
  padding: 0rem !important;
  margin: 0rem !important;
}
#searchbutton{
  background-color: #e55f3d;
  border-radius: 10px;
}
#marginsearch{
  margin-top: 10%;
}
#searchbar{
  margin-left: -9%;
  border-radius: 10px;
  margin-top: 10%;
}
#searchwidth{
  width: 150%;
}
#searchtext{
  text-align: left;
  margin-left: -9%;
  margin-top: -6%;
}
#storytext{
  text-align: left;
  margin-top: 5%;
  margin-left:2% ;
}
#cardtext{
  color: white;
}
#cardimage{
  display: block;
  object-fit: cover;
  max-width: 40rem;
  max-height: 30rem;
  width: auto;
  height: auto;
}
#footercard{
  width: 20rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 5%;
  margin-top: 3%;
}
#footercardtext{
  text-align: left;
  margin-top: 2%;
  margin-left:-4% ;
}
#smallcardtext{
background-color: #0a3e66;
opacity: 90%;
border-radius: 5px;
margin-top:10% ;
}
#smallcarduser{
  color: white;
  text-align: left;
  margin-top: -10%;
  margin-left: 12%;
  }
#smallcardtime{
  background-color: #e55f3d;
  border-radius: 5px;
  max-width: 45%;
  float: right;
}
#smallcardusername{
  color: white;
  text-align: left;
}
#smallcard{
width: 9rem;
height: 11rem;
overflow: hidden;
border-radius: 5%;
font-size: 0.7em;
}
#horizontalcardtext{
  background-color: #0a3e66;
opacity: 90%;
border-radius: 5px;
margin-top:7% ;
}
#horizontalcarduser{
  color: white;
  text-align: left;
  margin-top: -10%;
  margin-left: 12%;
}
#horizontalcard{
  width: 20rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 5%;
  margin-left: 6%;
  padding: 0rem !important;
  margin: 0rem !important;
}
#usercardtext{
  color: gray;
  text-align: left;
  margin-top: -10%;
  margin-left: 20%;
}
#usercardname{
  color:darkslategray;
  text-align: left;
}
#usercard{
  background-color: #e2e2e2;
  border-radius: 10px;
  margin-top: 5%;
  width: 85%;
}
#verticalcardtext{
  background-color: #0a3e66;
  opacity: 90%;
  border-radius: 5px;
  margin-top: 90%;
}
#verticalcardtime{
  background-color: #e55f3d;
  border-radius: 5px;
  max-width: 45%;
}